<div class="container">
	<div class="text-center">
		<h1 > Crowdbotics Rails Test </h1>

		<%= link_to 'Get Phrase' , get_new_phrase_phrases_path, class: 'btn-primary btn-lg', remote: true %>
		<%= link_to 'Clear Phrase' , clear_phrases_phrases_path, class: 'btn-danger btn-lg', remote: true %>
		<br><br>
		<div>
			<h3 id="phase_count"><%= "There are #{10 - session[:phrases].count } phases remains" %></h3>
		</div>

		<br>
		<div id="phrases">
			<% @phrases.each do |phrase| %>
				<p class="border"><%= phrase['name'] %></p>
			<% end %>
		</div>
	</div>
</div>